--extra-index-url https://download.pytorch.org/whl/cpu

# PyTorch (純 CPU 模式，支援 NCNN 導出與底層執行)
torch
torchvision

# 核心套件 (NCNN ARM 硬體極限加速)
ultralytics>=8.3.0
ncnn
flask>=3.0.0
opencv-python-headless
numpy
pillow
psutil
